extends layout

block content
  header
    h1= title
    p Pick up to nine places. Each place gets ten pictures from Instagram.
  div(id="left-col")
    div(id="left-places")
      input(id="map-searchbox" type="text" placeholder="Search Box")
      div(id="map-canvas")
      button(id="btn-list-places" class="btn-places") List
      button(id="btn-add-place" class="btn-places") Add
      button(id="btn-save-places" class="btn-places") Save
      button(id="btn-delete-place" class="btn-places") Delete
      button(id="btn-start-pictures" class="btn-places") Pictures
    div(id="left-pictures")
      include ./picture_table.jade
      button(id="btn-stop") Stop
  div(id="right-col")
    div(id="right-places")
      include ./place_list.jade
      include ./place_form.jade
      include ./place_delete.jade
    div(id="right-pictures")
      figure(id="picture-panel")
        img(id="picture-large" alt="Picture (Large)")
        figcaption Photo Caption
        a(id="link-insta") Open in Instagram
        button(id="hide-panel") Hide
  footer
    p Email me at &nbsp;
      a(href="mailto:tingfchang@hotmail.com") tingfchang@hotmail.com 