table(id="picture-table")
  tr
    td: img(class="picture" alt="Place 0")
    td: img(class="picture" alt="Place 1")
    td: img(class="picture" alt="Place 2")
  tr
    td: img(class="picture" alt="Place 3")
    td: img(class="picture" alt="Place 4")
    td: img(class="picture" alt="Place 5")
  tr
    td: img(class="picture" alt="Place 6")
    td: img(class="picture" alt="Place 7")
    td: img(class="picture" alt="Place 8")