div(id="delete-place")
  div(class="div-input")
    h3 Delete a place
    label(for="input-place-delete") Place Number: 
    br
    input(id="input-place-delete" type="number")
  button(id="btn-submit-delete") Delete
  button(id="btn-cancel-delete") Cancel
