body {
  padding: 50px;
  background: #CCFFCC;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#picture-table {
  float: left;
  margin-top: 30px;
}

#picture-table td {
  padding: 5px;
  width: 160px;
  height: 160px;
  /*border: 1px solid black;*/
}

.picture {
  width: 150px;
  height: 150px;
}

#picture-panel {
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  padding: 10px;
}

#picture-large {
  width: 480px;
  height: 480px;
}

#picture-panel figcaption {
  padding-top: 20px;
  width: 480px;
}

button {
  display: block;
  clear: both;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  background: #000066;
  color: #FFFFCC;
  font-size: 20px;
}

a {
  color: #00B7FF;
}