body {
  padding: 50px;
  background: #CCFFCC;
  color: #000033;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header, footer {
  padding-left: 30px;
}

footer {
  clear: both;
  padding-top: 30px;
}

#left-col {
  float: left;
  width: 50%;
  min-width: 540px;
}

#right-col {
  float: right;
  width: 50%;
  min-width: 500px;
}

#map-searchbox {
  box-sizing: border-box;
  margin: 15px;
  padding: 0 10px 0 12px;
  width: 300px;
  height: 32px;

  border: 1px solid transparent;
  border-radius: 2px 0 0 2px; 
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  background-color: #fff;  
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#map-canvas {
  margin: 30px;
  width: 480px;
  height: 320px;
}

#map-prompt {
  margin-left: 30px;
}

#form-place {
  margin: 30px;
}

#place-list {
  margin: 30px;
}

#place-list td {
  padding: 5px 10px;
}

.div-input {
  margin-bottom: 15px;
}

#picture-table {
  margin-top: 30px;
}

#picture-table td {
  padding: 5px;
  width: 160px;
  height: 160px;
  /*border: 1px solid black;*/
}

.picture {
  width: 150px;
  height: 150px;
}

#picture-panel {
  margin-top: 30px;
  margin-left: 50px;
  padding: 10px;
}

#picture-large {
  width: 480px;
  height: 480px;
}

#picture-panel figcaption {
  padding-top: 20px;
  width: 480px;
  font-style: italic;
}

button {
  display: block;
  clear: both;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  background: #000066;
  color: #FFFFCC;
  font-size: 20px;
}

button#btn-add-place, button#btn-search-bar {
  display: inline-block;
  clear: none;
  width: 120px;
}

button#btn-submit-place {
  width: 90px;
  margin-left: 5px;
}

a {
  display: inline-block;
  padding-top: 12px;
  color: #000066;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}